.git
.venv
__pycache__
.pytest_cache
.cache
cache
model_cache
output
test_data
test_results
tests/
test_*.py
htmlcov
uploads
.idea
*.log
*.pyc
*.pkl
*.ipynb
*.docx
*.pdf
*.DS_Store
*.egg-info
*.zone.identifier

# Windows specific files
*:Zone.Identifier
*Zone.Identifier

# Project specific
archive.7z
exclude.txt
